/* =============================================================================
   LISTS (elements/_lists.scss)
   ========================================================================== */

ul {
    margin-top: initial !important;
    margin-bottom: initial !important;
}

li {
    list-style: none;
}