/* =============================================================================
   COLORS (settings/_colors.scss)
   ========================================================================== */

$primary-color: #FC4B54;
$secondary-color: #D7E4FF;

$white-color: #FFFFFF;
$black-color: #000000;